/**/
div.c6 {
    height: 6em
    }
span.c5 {
    font-size: 4em
    }
div.c4 {
    height: 4em
    }
a.c3 {
    font-style: italic
    }
div.c2 {
    width: 50%
    }
div.c1 {
    height: 8em
    }
/**/